<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Square</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">

      <dt>Numbers</dt>
      <dd><%= @numbers %></dd>

      <dt>Square</dt>
      <dd><%= @square %></dd>

      </dl>
  </div>
</div>
